/* ===== 768px Breakpoint ===== */
@media (min-width: 768px) {
  #hamburger {
    display: none;
  }

  #primary-nav,
  #primary-nav.open {
    display: flex;
    width: auto;
    padding-top: 0;
    align-items: center;
  }

  #primary-nav ul {
    flex-direction: row;
    gap: 1rem;
  }

  .header-inner {
    flex-wrap: nowrap;
  }

  .hero-content {
    position: absolute;
    bottom: 10%;
    left: 5%;
    max-width: 450px;
    padding: 2rem;
    background: #ffffffd9;
    border-radius: 8px;
    text-align: left;
  }
  .hero-content h1 {
    font-size: 2.5rem;
  }

  .farm-grid,
  .breed-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .about-content {
    grid-template-columns: 3fr 2fr;
  }

  .contact-wrapper {
    grid-template-columns: 1fr 2fr;
  }

  .footer-inner {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}

/* ===== 1024px Breakpoint ===== */
@media (min-width: 1024px) {
  .farm-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}